<header class="header" id="fixedHeader">
  <nav class="header__nav" id="fixedMenu">
    <div class="header__inner">
      <img class="header__logo" src="images/dist/logo.png" alt="logo" width="80" height="80">
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#body">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about">About me</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#skills">Skills</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#portfolio">Portfolio</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <button class="burger" type="button">
        <span class="burger__span"></span>
        <span class="sr-only">Open/Close menu</span>
      </button>
    </div>
  </nav>
  <div class="container">
    <div class="header__info">
      <h1 class="header__title">
        Arhipov <br> Michael
      </h1>
      <div class="header__biography">
        Web programmer <br>
        30 years old, Ukraine/Odesa
      </div>
    </div>
    <img class="header__img" src="images/dist/header-img.webp" alt="картинка для фона" width="944" height="387">
  </div>
</header>