.social {
  display: flex;
  justify-content: center;

  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: #070707;
    transition: fill .4s;
    
    &:hover {
      fill: #db4517;
    }
  }
}